<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>
    <div class="container">
        <h1 class="title-header">History of Ryuei Ryu</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="app\assets\images\kenshin_himura.jpg", height: 300>
                Section 1 of pictures and text
            </div>
            <div class="col-sm">
                Section 2 of pictures and text
            </div>
        </div>
    </div>
</body>
</html>