<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Okinawa Ryuei Ryu Karate Kobudo Organization</title>
</head>
    <div class="container">
        <body>
            <h1 id="welcome-banner">Welcome to our homepage!</h1>
            
            
            
        </body>
    </div>
</html>