/* @import '/node_modules/bootstrap/dist/css/bootstrap.css'; */
@import "./actiontext.css";

.navbar {
    background-color: Black !important;
    height: 80px;
}

.navbar-nav {
    color: white;
}

.nav-link {
    color: white !important;
}

.navbar-toggler {
    background-color: red;
  }

html, body {
    height: 100%;    
}

.trix-content {
    outline-width: 1px;
    outline-color: black;
}

.title-header {
    font-weight: bold;
    font-size: 100px;
    text-shadow: 2px 2px blue;
    text-align: center;
}

.text-capitalize {
    font-size: 40px;
}

#sticky-footer {
    flex-shrink: none;
}

#page-content {
    flex: 1 0 auto;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: rgb(248, 8, 8);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    padding-left: 5px;
}

#home-container {
    margin-top: 25px;
    max-width: 90%;
}

#welcome-banner {
    font-size: 100px;
    text-align: center;
    color: blue;

}

#event-table {
    max-width: calc(87%);
}

#truncate-content {
    overflow: hidden;
    max-width: 150px;
    display: block;
    text-overflow: ellipsis;

} 
